.productList {
  width: 100%;
  height: auto;
  margin-top: 1.0625rem;
  display: flex;
  gap: 1.25rem;
  overflow: scroll;
}

@media (min-width: 690px) {
  .productList {
    overflow: visible;
    flex-wrap: wrap;
    gap: 3.5rem;
  }
}
