:root {
  --primary-color: #27ae60;

  --title-color: #333333;
  --paragraph-color: #828282;

  --button-color: #bdbdbd;
  --white-color: #ffffff;

  --grey-color: #E0E0E0;

  --background-grey-color: #f5f5f5;
}

body {
  font-family: "Inter", sans-serif;
}
